<html>
  <head>
    <title> My Fusion </title>

    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body class="indexMain">
    <!-- IN CASE THE SCREENSHOT IDEA FAILS: Temporary placement of things IGNORE!
      My Fusion

      <div class="assistance">
        24/7 ASSISTANCE

        <div class = "row">
          <div class="column">
            <img src="roadside.png">
          </div>
          <div class="column">
            <img src="collision.png">
          </div>
        </div>

      </div>

      <div class="service">
        SERVICE

        <div class = "row">
          <div class="column">
            <img src="schedule.png">
          </div>
          <div class="column">
            <img src="history.png">
          </div>
          <div class="column">
            <img src="maintenance.png">
          </div>
        </div>
        <div class = "row">
          <div class="column">
            <img src="reference.png">
          </div>
          <div class="column">
            <img src="warranty.png">
          </div>
          <div class="column">
            <img src="camera button.png">
          </div>
        </div>

      </div>

     -->

    <a href="/qr">
        <img src="../static/Camera button.png" style="width:250px;height:250px;margin: 1020px 0px 0px 650px;">
    </a>


    </body>
</html>