<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
</head>
<body>
    <h1>
        Low Tire Pressure Warning
    </h1>
    <p>
        It illuminates when your tire pressure is low. If the lamp remains on with the engine running or when driving, check your tire pressure as soon as possible.
It will also illuminate momentarily when you switch the ignition on to confirm the lamp is functional. If it does not illuminate when you switch the ignition on, or begins to flash at any time, have the system checked by your authorized dealer.
    </p>
</body>
</html>