<html>
  
  <head>
    <title> QR </title>

    
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>

  <body class="plain">

    <div class="centerPic">
        <h1 class="bigheading">Scan for Help</h1>
      <a href="/details">
        <img src="../static/qr%20clipart.jpg" style="width:800px;height:800px;margin-top: 100px;">
    </a>

    
  </br>
    <h2> Put a QR code in the frame to search for more information.</h2>
        </div>
  <div class="columnButton">
            <a href="/scans">
                <!-- Recent scans -->
                <img src="../static/recent%20scans.png" style="width:300px;height:300px;">
            </a>
            </br><h1 style="margin-top: 2%;">Recent Scans</h1>
  </div>
    </body>
</html>