<html>
  <head>
    <title> Previous Scans </title>


    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>


  <body class="plain">

    
    <div class = "row">
      <h1 class="bigheading">Previous Scans</h1>
      <div class="columnTwo">
        <a href="/details"><img src="../static/temp.png"></a>
        </br><h1 style="margin-top: 2%;">Image 1 Heading</h1>
      </div>
      <div class="columnTwo">
        <img src="../static/temp.png">
      </div>
    </div>


    <div class="centerPic">
      <a href="/qr">
          <!-- Scan again -->
          <img src="../static/scan%20again.png" style="width:300px;height:300px;margin: 300px 0px 0px 0px;">
      </a>
    </br> <h1 style="margin-top: 2%;">Scan Again</h1>
    </div>
    </body>
</html>